<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.toy.mapper.MembersMapper">
    <select id="login" parameterType="Map" resultType="Members">
        select * from sys.toyweb_member where id = #{map.id} and pw = #{map.pw}
    </select>

    <select id="members_list" resultType="Members">
        select * from sys.toyweb_member
    </select>

    <select id="id_check" parameterType="String" resultType="int">
        select count(*) from sys.toyweb_member where id = #{id}
    </select>

    <insert id="sign_up" parameterType="Members">
        insert into sys.toyweb_member values 
        (sys.toyweb_member_seq.nextval, #{dto.id}, #{dto.pw}, #{dto.email}, #{dto.phone})
    </insert>
</mapper>